
.Products_Header {
    position:relative; top: -60px;  left: 20px; z-index: 50 ;
    font-size:54px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:150;
    color: 	#000000;
}



.Categories_Header{
    position:relative; top: -80px;  left: 20px; z-index: 50 ;
    font-size:24px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:150;
    color: 	#000000;
}
