.App {
  text-align: center;
}


.logout { 
  position:relative; top: 400px;  left: 0px; z-index: 20;
}


.BckGrnd {
  position:fixed; top: -20px; left: 0px; z-index: -10;

height: 1000px;
}

.LogoutIcon{
  position:relative; top: -40px;  left: 300px; z-index: 30 ;
  height: 40px;
}

.LogoutIcon:hover{
  transform: scale(1.2);
}


.LoginForm{
  position:relative; top: 50px;  left: 70px; z-index: 30 ;
  color: 	#ffffff;
}


.Arbor_A_Logo{
  position:relative; top: 20px;  left: 340px; z-index: 30 ;
  height: 50px;
}

.Cart_Icon{
position:relative; top: -130px;  left: 40px; z-index: 30 ;
height: 30px;
}


.Cart_Icon:hover{
  transform: scale(1.2);
}

.Username{
  color: 	#ffffff;
}